$thm-font: var(--thm-font);
$heading-font: var(--heading-font);

$body-size: 18px;
$letter-space: -.04em;
$body-line-height: 1.89;
$heading-size: 20px;
$heading-size2: 36px;
$heading-size3: 46px;
$heading-size4: 100px;